body{
background: #CCCCCC;
background-repeat: repeat;
background-position: center center;
background-attachment: fixed;
}

#wrapper {
clear: none;
margin: 20px auto;
padding: 0px;
width: 1000px;
background-color: #FFFFFF;
height: 650px;
}

.container-fluid {
background-color: #CCCCCC;
margin-top: -20px;
}

#header {
background: #FFFFFF;
width: 980px;
height: 100px;
margin: 0px 0px 0px 0px;
padding-left: 20px;
padding-bottom: 20px;
padding-top: 10px;
}

/* Sidomenyn */

#side {
float: left;
width: 220px;
margin: 0px 0px 0px 0px;
padding: 5px;
border-right: 1px #CCCCCC solid;
background: #FFFFFF;
border-top-width: 0px;
height: 460px;
}

.kursinfo kurskod {
font-family:  Georgia;
font-size: 24px;
text-weight: normal;
color: #000000;
background-color: #FFFFFF;
}

.kursinfo kursnamn {
font-family:  Arial;
font-size: 14px;
color: #000000;
background-color: #FFFFFF;
}

.menu{
margin: 20px 0px 0px 0px;
width: 100%;
overflow: hidden;
}

.menu ul{
padding-left: 0px; /*offset of tabs relative to browser left edge*/
font: 14px Arial;
}
.menu li{
display: inline;


}
.menu li a{
float: left; /*Ändra till right om du vill ha flikarna till höger*/
display: block;
text-decoration: none;
padding: 10px;
padding-bottom: 5px;
padding-left: 0px;
color: Black;
background: #FFFFFF; 
border-radius: 20px 20px 0px 0px;
width: 200px;
border-bottom: 1px solid #CCCCCC;
}
.menu li a:hover, .menu li a.active{
background: #FFFFFF;
border-bottom: black 2px solid;
font-weight: normal;
opacity: 1.0;
}

#content {
width: 730px;
background: #none;
float: right;
padding: 0px;
margin-right: 20px;
height: 460px;
overflow: scroll;
}html>body #content { width: 730px }


/* Flikar */

.tabs{
width: 100%;
overflow: hidden;
}
.tabs ul{
margin: 0px 0px 0px 250px;
padding: 0;
padding-left: 0px; /*offset of tabs relative to browser left edge*/
font: 14px Georgia;
}
.tabs li{
width: 100px;
display: inline;
margin: 10px 10px 10px 10px;

}
.tabs li a{
float: left; /*Ändra till right om du vill ha flikarna till höger*/
display: block;
text-decoration: none;
margin: 0px 0px 0px 1px;
padding: 10px 10px; 
color: white;
background: #1954a6; 
opacity: 0.8;
border-radius: 20px 20px 0px 0px;
width: 180px;
text-align: center;
}

.tabs li a:hover, .tabs li.selected a{
background: #1954a6;
font-weight: normal;
opacity: 1;
}

.line{
width: 100%;
height: 30px;
background-color: #1954a6;
margin: 0px 0px 10px 0px;
}


.rubrik p{
font-family:  Georgia;
font-size: 24px;
color: #000000;
background-color: #FFFFFF;
margin-top: 5px;
}
.underrubrik p{
font-family:  Georgia;
font-size: 18px;
color: #000000;
background-color: #FFFFFF;
margin-top: 5px;
}

.information{
width: 750px;
height:300px;
font-family: Arial;
font-size: 12px;
background: #CACACA;
}
 
.beskrivning{
width: 340px;
padding: 5px;
margin-bottom: 0px;
font-family: Arial;
font-size: 12px;
background: #eec0dc;
}

.ruta{
width: 340px;
height: auto;
padding: 5px;
margin-top: 0px;
border: 1px solid #CCCCCC;
border-top: none;
border-radius: 0px 0px 10px 10px;
}


.row {
margin-bottom: 20px;
}


textarea {
width: 340px;
height: 140px;
padding: 5px;
margin-top: 5px;
border: 1px solid #CCCCCC;
border-top: none;
border-radius: 0px 0px 10px 10px;
}
textarea:focus {
border: 0px;
}

}