/* Ram */

body{
background: #CCCCCC;
background-repeat: repeat;
background-position: center center;
background-attachment: fixed;
}

#wrapper {
margin: 20px auto;
padding: 0px;
width: 1000px;
background-color: #f2f2f2;
overflow: hidden;
}

.container-fluid {
background-color: #CCCCCC
}

.row {
margin-bottom: 0px;
}

#header {
background: #f2f2f2;
width: 980px;
height: 100px;
margin: 0px 0px 0px 0px;
padding-left: 20px;
padding-bottom: 20px;
padding-top: 10px;
}

/* Sidomenyn */

#side {
float: left;
width: 220px;
margin: 0px 0px 0px 0px;
padding: 5px;
background: #F2f2f2;
border-top-width: 0px;
}

.kursinfo{
width:200px;
padding:5px;
margin-top:-5px;
margin-left:5px;
}

.kursinfo kurskod {
font-family:  Georgia;
font-size: 24px;
text-weight: normal;
color: #000000;
}

.kursinfo kursnamn {
font-family:  Arial;
font-size: 12px;
color: #000000;
}

.menu{
width: 100%;
overflow: hidden;
align-content: center;
}

.menu ul{
margin-top: 5px;
padding-left: 0px; /*offset of tabs relative to browser left edge*/
font: 14px Arial;
}
.menu li{
display: inline;


}
.menu li a{
float: center; /*Ändra till right om du vill ha flikarna till höger*/
display: block;
text-decoration: none;
padding: 10px;
padding-bottom: 5px;
color: Black;
background: #f2f2f2;
border-radius: 3px;
width: 200px;
margin-bottom:5px;
}
.menu li a:hover, .menu li.selected a{
opacity: 1.0;
color: #1954a6;
background: #fff;
}

.menu li:hover svg path, .menu li.selected svg path{
fill: #1954a6;
}

.menu-item-icon-container{
width: 30px;
height:30px;

}

/* Content */

#content {
width: 760px;
background: none;
float: right;
padding: 0px;
margin-right: 20px;
padding-left: 20px;
border-left: 1px #cccccc solid;
}

/* Flikar och blå linje*/

.tabs{
width: 100%;
overflow: hidden;
}
.tabs ul{
margin: 0px 0px 0px 250px;
padding: 0;
padding-left: 0px; /*offset of tabs relative to browser left edge*/
font: 14px Georgia;
}
.tabs li{
width: 100px;
display: inline;
margin: 10px 10px 10px 10px;

}
.tabs li a{
float: left; /*Ändra till right om du vill ha flikarna till höger*/
display: block;
text-decoration: none;
margin: 0px 0px 0px 1px;
padding: 10px 10px;
color: white;
background: #1954a6;
opacity: 0.8;
border-radius: 20px 20px 0px 0px;
width: 180px;
text-align: center;
}

.tabs li a:hover, .tabs li.selected a{
background: #1954a6;
font-weight: normal;
opacity: 1;
}

.line{
width: 100%;
height: 30px;
background-color: #1954a6;
margin: 0px 0px 10px 0px;
}

/* Startsida */

#searchDiv {
background: #f2f2f2;
height: 100%;
width: 100%;
margin-bottom:20px;
}

#textInput1{
width: 60px;
box-sizing: border-box;
border-radius: 3px;
border-style: solid;
border-color: gray;
border-width: 1px;
}

#textPeriod{
margin-left: 20px;
}

#selectPeriod{
margin-right: 20px;
background:#fff;
border: 0px;
}
#searchButton{
border-radius: 3px;
}

#searchNewCourse {
padding: 5px;
padding-left: 10px;
padding-right: 10px;
background-color: #B0C92B;
border-radius: 10px;
cursor: pointer;
width: 50px;
height: 30px;
float: right;
font-style: center
margin-top:10px;
}

#textAreaSchedule{
  width: 80%;
  border: 1px solid #CCCCCC;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  margin-left: 70px;
}

#searchHeader{
  font-family: Georgia;
  font-size: 24px;
  font-weight: normal;
  padding-bottom:0px;
  border-bottom: 1px solid #cccccc;
  width:100%;
  margin-top:5px;
}

.myCourses {
background-color: #f2f2f2;
height: auto;
width: 100%;
margin-bottom:5px;
}

.myCourse {
margin-bottom: 5px;
width: 100%;
padding:10px;
font: 14px arial;
}
.myCourse:hover {
  background: #fdfdfd;
}

.myCourse label:not(.courseStatusGodkand):not(.courseStatusSkickat):not(.courseStatusUtkast) {
  color: #000;
  cursor: pointer;
}

.myCourse:hover label:not(.courseStatusGodkand):not(.courseStatusSkickat):not(.courseStatusUtkast) {
background: #fff;
}

label {
font-weight: normal;
display: block;
background:none;
}

.textKod{
margin-left: 0px;
margin-bottom:0px;
}

.textP{
width: 400px;
margin-left: 10px;
margin-bottom:0px;
}

.textHP{
margin-left: 10px;
width:50px;
margin-bottom:0px;
}

.courseStatusUtkast{
width: 90px;
float: right;
background: none;
padding: 3px;
border: 1px solid #fab919;
border-radius: 10px;
margin: -5px;
color: #fab919;
}

.courseStatusSchema{
    width: 100px;
    background: none;
    padding: 5px;
    border: 2px solid #fab919;
    border-radius: 10px;
    margin-top: -42px;
    float: right;
    color: #fab919;
}
.courseStatusSchemaSkickat{
width: 90px;
background: none;
padding: 5px;
border: 2px solid #b0c92b;
border-radius: 10px;
margin-top: -42px;
float: right;
color: #b0c92b;
}

.courseStatusSkickat{
width: 90px;
float: right;
background: none;
padding: 3px;
border: 1px solid #b0c92b;
border-radius: 10px;
margin: -5px;
color: #b0c92b;
}

.courseStatusGodkand{
width: 90px;
float: right;
background: none;
padding: 3px;
border: 1px solid #24a0d8;
border-radius: 10px;
margin: -5px;
color: #24A0D8;
}

.saveButton{
width: 100px;
float: right;
background: #b9dc48;
padding: 3px;
border: 1px solid #b9dc48;
border-radius: 10px;
margin-right: 0px;
margin-bottom: 20px;
margin-top:10px;
padding:5px;
font-weight: bold;
cursor: pointer;
transition: background-color 0.1s;
}
.saveButton:hover{
background:#b0c92b;
border-color: #b0c92b;
}

.sendButton{
width: 100px;
float: right;
background: #8dc3ed;
padding: 3px;
border: 1px solid #8dc3ed;
border-radius: 10px;
margin-left: 5px;
margin-bottom: 20px;
padding: 5px;
margin-top: 10px;
font-weight: bold;
cursor: pointer;
}

.sendButton:hover{
background:#009ede;
border-color: #009ede;
}

/* Kursinfo */

.rubrik p{
font-family:  Georgia;
font-size: 24px;
color: #000000;
background-color: #f2f2f2;
margin-top: 5px;
}
.rubrik {
  width: 300px;
}
.statusSchema{
  width: 300px;
  float: left;
  display: block;
}
.underrubrik p{
font-family:  Georgia;
font-size: 18px;
color: #000000;
background-color: #f2f2f2;
margin-top: 5px;
}

.beskrivning{
width: 350px;
padding: 5px;
margin-bottom: 0px;
font-family: Arial;
font-size: 12px;
background: #d2dbf2;
}

.ruta{
width: 350px;
padding: 5px;
margin-top: 0px;
background: #fff;
border: 1px solid #fff;
border-top: none;
border-radius: 0px 0px 3px 3px;
}

.ruta p{
font: 12px Arial;
padding-top:5px;
padding-bottom: 5px;
}

.ruta input{
border-radius: 3px;
border-style: solid;
border-color: #CCCCCC;
border-width: 1px;
padding: 3px;
margin-top:2px;
margin-bottom:5px;
}

textarea {
width: 350px;
height: 140px;
padding: 5px;
margin-top: 5px;
border: 1px solid #ffffff;
border-top: none;
border-radius: 0px 0px 3px 3px;
}
textarea:focus {
border: 0px;
}

}

/* Schemaplanering */

#container {
  font: arial;
}
.weeks {
  margin-left: auto;
  margin-right: auto;
  width: 740px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 10pt;
}
.week .header {
  display: flex;
  font-size: 9pt;
  margin-bottom: 2px;
}
.week .header > * {
  border-radius: 2px;
  box-sizing: border-box;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
}
.week {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #D9D9D9;
  border-width: 1px;
  margin-bottom: 15px;
  transition-property: max-height, margin-bottom, border-width;
  transition-duration: 0.5s;
  max-height: 200px;
}
.week.minimized {
  max-height: 0px;
  margin-bottom: 0px;
  border-width: 0px;
  overflow: hidden;
}
.week .number {
  width: 200px;
}
.course-number {
  margin-left: 30px;
  font-size: 12px;
  color: gray;
}
.week > .number {
  text-align: center;
  margin-right: 2px;
}
.week > .week-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 5px;
  margin-left: 10px;
}
.week > .week-content > .moment > :not(.actions) {
  margin-right: 10px;
  margin-top: 1px;
}
.week .header > :not(.actions) {
  margin-right: 10px;
}
.week > .week-content > .moment {
  display: flex;
  align-items: center;
}
.weeks input[type=number] {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}
.weeks input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}
.week .kind-icon {
  width: 10px;
  height: 10px;
}
.moment > .kind-icon {
  border-radius: 20px;
  transition: background-color 1s;
}
.moment > .kind-icon.lecture {
  background-color: #24A0D8;
}
.moment > .kind-icon.seminar {
  background-color: #B0C92B;
}
.moment > .kind-icon.exercise {
  background-color: #D85497;
}
.moment > .kind-icon.lab {
  background-color: #BDBCBC;
}
.moment > .kind-icon.exam {
  background-color: #FAB919;
}
.week .kind {
  width: 78px;
}
.week .duration {
  width: 50px;
  text-align: center;
}
.week .groups {
  width: 50px;
  text-align: center;
}
.week .simultaneous {
  width: 60px;
  text-align: center;
}
.moment .simultaneous {
  height: 19px;
  position: relative;
  z-index: 1;
}
.simul-editor {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  transition-property: height, width, left, top, background-color, border-color;
  transition-duration: 0.2s;
}
.simul-editor:hover {
  width: 200px;
  height: 200px;
  left: -80px;
  top: -80px;
  border-color: black;
}
.simul-editor > .summary {
  position: absolute;
  width: 100%;
  opacity: 1;
  transition: opacity 0.2s;
}
.simul-editor > .editor {
  height: 200px;
  width: 200px;
  transform-origin: 0px 0px;
  transform: scale(0, 0);
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-bottom: 8px;
}
.simul-editor > .editor > .help-text {
  font-style: italic;
  font-size: 9pt;
  margin-bottom: 5px;
  color: gray;
}
.simul-editor > .editor > .groups-display {
  display: flex;
  flex-direction: row;
  padding: 5px;
  flex-grow: 1;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}
.simul-editor > .editor > .groups-display > .group-display {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 2px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.group-display > img {
  width: 20px;
  height: 20px;
  cursor: grab;
  transition: transform 0.1s;
}
.group-display > img:hover {
  transform: scale(1.1, 1.1);
}
.group-display > img:active {
  cursor: grabbing;
}
.simul-editor > .editor > .group-shortcuts {
  display: flex;
  justify-content: space-between;
}
.simul-editor > .editor > .group-shortcuts > * {
  flex-basis: 0;
  white-space: nowrap;
  background-color: #B0C92B;
  border-radius: 8px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
  transition: transform 0.1s;
}
.simul-editor > .editor > .group-shortcuts > *:hover {
  transform: scale(1.05, 1.05);
}
.simul-editor:hover .editor {
  opacity: 1;
  transform: scale(1, 1);
}
.simul-editor:hover .summary {
  opacity: 0;
}
.week .teachers {
  flex-grow: 1;
  flex-basis: 0px;
}
.week .comment {
  flex-grow: 1;
  flex-basis: 0px;
}
.week .own-room {
  width: 50px;
  text-align: center;
}
.week-content > .moment > .actions {
  margin-right: 0px;
}
.actions {
  width: 70px;
  text-align: right;
  margin-right: 2px;
}
.actions > .hovered {
  opacity: 0;
  z-index: 1;
  transition: opacity 0.08s;
}
.actions img {
  height: 17px;
  margin-left: 2px;
  transition: transform 0.1s;
}
.actions img:not(.disabled):hover {
  transform: scale(1.1, 1.1);
}
.actions img.disabled {
  cursor: auto;
  opacity: 0.4;
}
.actions img:not(.disabled) {
  cursor: pointer;
}
.moment:hover .actions > .hovered {
  opacity: 1;
}

.week-header {
  display: flex;
  background-color: #D3DCF1;
  font-size: 12pt;
  font-family: georgia;
  padding: 5px;
  cursor: grab;
}
.week-header:active {
  cursor: grabbing;
}
.week-header > .actions {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}
.week-header > .actions > button {
  white-space: nowrap;
}

option.default {
  display: none;
}

.weeks > .summary {
  margin-top: 15px;
  border-style: solid;
  border-color: #D9D9D9;
  border-width: 1px;
}
.weeks > .summary > .header {
  margin-right: 0px;
  display: flex;
  background-color: #D3DCF1;
  font-size: 12pt;
  font-family: georgia;
}
.weeks > .summary > .summary-row {
  display: flex;
}
.weeks > .summary > * > * {
  flex-grow: 1;
  flex-basis: 0;
  padding: 5px;
}
.end-of-schedule {
  display: flex;
  justify-content: center;
}
.add-new-week {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #B0C92B;
  border-radius: 10px;
  cursor: pointer;
}

.beskrivningSch{
width: 100%;
padding: 5px;
margin-bottom: 0px;
margin-top: 10px;
font-family: Arial;
font-size: 12px;
background: #d2dbf2;
display:block;
float:left;
}

.rutaSch{
width: 100%;
padding:10px;
padding-left: 5px;
margin-top: 0px;
border: 1px solid #fff;
background: #fff;
border-top: none;
border-radius: 0px 0px 3px 3px;
float: left;
}
.rutaSch input{
width: 70px;
padding: 2px;
border: 1px solid #fafafa;
background: #fafafa;
border-radius: 3px;
}
.rutaSch select{
padding: 2px;
border: 1px solid #fafafa;
background: #fafafa;
border-radius: 3px;
height:25px;
}
/* Searchbox */

#myInput {
height: 26px;
width: 100%;
padding: 0 12px 0 25px;
background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
border: 1px solid #fff;
border-radius: 3px;
margin-bottom: 10px;
}

#myUL {
list-style-type: none;
padding: 0;
margin: 0;
display: none;
border: 1px solid #CCCCCC;
}

#myInput:focus + #myUL{
display: block;
}

#myUL li a {
border-bottom: 1px solid #ddd; /* Add a border to all links */
background-color: #f2f2f2; /* Grey background color */
padding: 10px 10px 10px 10px; /* Add some padding */
text-decoration: none; /* Remove default text underline */
font: 14px Arial; /* Increase the font-size */
color: black; /* Add a black text color */
display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover {
border-bottom-color: #000000;
}

.subheaderSch {
margin-bottom: 0px;
margin-top:30px;
display: flex;
font-size: 12pt;
font-family: georgia;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 150px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
box-shadow: none;
}

/* Modal Content */
.modal-content {
background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
margin-top: 100px;
margin: auto;
padding-bottom: 40px;
width: 50%;
border: 0px;
}

/* The OK Button */
.close {
color: #aaaaaa;
float: center;
font-size: 20px;
font-weight: bold;
}

.close:hover, .close:focus {
text-decoration: none;
cursor: pointer;
opacity: 1;
}

/*.search input {
height: 26px;
width: 500px;
padding: 0 12px 0 25px;
background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
border: 1px solid #CCCCCC;
border-radius: 13px;
}

.search input:focus {
outline: none;
border-color: #CCC;
}

.search input:focus + .results {
display: block
}

.search .results {
display: none;
position: center;
top: 35px;
left: 0;
right: 0;
z-index: 10;
padding: 0;
margin: 0;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
border-radius: 3px;
background-color: #ffffff;
width:300px;
margin-top: 10px;
}

.search .results li {
display: block
}

.search .results li:first-child {
margin-top: -1px
}

.search .results li:first-child:before, .search .results li:first-child:after {
display: block;
content: '';
width: 0;
background-color: #F0c900;
height: 0;
position: absolute;
left: 50%;
margin-left: -5px;
border: 5px outset transparent;
}

.search .results li:first-child:before {
border-bottom: 5px solid #c4c7d7;
top: -11px;
}

.search .results li:first-child:after {
border-bottom: 5px solid #fdfdfd;
top: -10px;
}

.search .results li:first-child:hover:before, .search .results li:first-child:hover:after {
display: none
}

.search .results li:last-child {
margin-bottom: -1px
}

.search .results a {
display: block;
position: relative;
margin: 0 -1px;
padding: 6px 40px 6px 10px;
color: #CCCCCC;
font-weight: 500;
border: 1px solid transparent;
border-radius: 3px;
overflow: hidden;
}

.search .results a span {
font-weight: 200
}

.search .results a:before {
content: '';
width: 18px;
height: 18px;
position: absolute;
top: 50%;
right: 10px;
margin-top: -9px;
background: url("http://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0 no-repeat;
}

.search .results a:hover {
text-decoration: none;
color: #000000;

}

:-moz-placeholder {
color: #a7aabc;
font-weight: 200;
}

::-webkit-input-placeholder {
color:  none;
font-weight: 200;
}

.lt-ie9 .search input {
line-height: 26px }