body{
background: #CCCCCC;
background-repeat: repeat;
background-position: center center;
background-attachment: fixed;
}


#wrapper {
clear: none;
margin: 20px auto;
padding: 0px;
width: 1000px;
background-color: #FFFFFF;
height: 1000px;
}

#header {
background: #FFFFFF;
width: 980px;
height: 100px;
margin: 0px 0px -20px 0px;
padding-left: 20px;
padding-bottom: 10px;
padding-top: 10px;
}

#side {
float: left;
width: 220px;
margin: 0px 0px 0px 0px;
padding: 5px;
border-right: 1px #CCCCCC solid;
background: #FFFFFF;
border-top-width: 0px;
height: 100%

}

#searchDiv {
background: #FFFFFF;
border-top-style: solid;
border.border-top-width: 2px;
border-color:#CCCCCC;
height: 100%;
width: 80%;
padding: 10px 10px 10px 10px;
}

#content {
width: 730px;
background: white;
float: right;
padding: 15px;
margin-right: 5px;
}html>body #content { width: 730px }

#textP {
	width: 30%;
}

.kursinfo kurskod {
font-family:  Georgia;
font-size: 24px;
text-weight: normal;
color: #000000;
background-color: #FFFFFF;
}

.kursinfo kursnamn {
font-family:  Arial;
font-size: 12px;
color: #000000;
margin: 50px 50px 50px 50px;
background-color: #FFFFFF;
}


.tabs{
width: 100%;
overflow: hidden;
}
.tabs ul{
margin: 0px 0px 0px 250px;
padding: 0;
padding-left: 0px; /*offset of tabs relative to browser left edge*/
font: 14px Georgia;
}
.tabs li{
width: 100px;
display: inline;
margin: 10px 10px 10px 10px;

}
.tabs li a{
float: left; /*Ändra till right om du vill ha flikarna till höger*/
display: block;
text-decoration: none;
margin: 0px 0px 0px 1px;
padding: 10px 10px; 
color: white;
background: #1954a6; 
opacity: 0.8;
border-radius: 20px 20px 0px 0px;
width: 180px;
text-align: center;
}

.tabs li a:hover, .tabs li.selected a{
background: #1954a6;
font-weight: normal;
opacity: 1;
}

.line{
width: 100%;
height: 30px;
background-color: #1954a6;
margin: 0px 0px 10px 0px;
}

.menu{
margin: 20px 0px 0px 0px;
width: 100%;
overflow: hidden;
}

.menu ul{
padding: 10;
padding-left: 0px; /*offset of tabs relative to browser left edge*/
font: 14px Georgia;
}
.menu li{
display: inline;
margin: 10px 10px 10px 10px;

}
.menu li a{
float: left; /*Ändra till right om du vill ha flikarna till höger*/
display: block;
text-decoration: none;
padding: 10px 10px 10px 0px;
color: Black;
background: #FFFFFF; 
border-radius: 20px 20px 0px 0px;
width: 200px;
border-bottom: 1px solid #CCCCCC;
}
.menu li a:hover, .tabs li.selected a{
background: #FFFFFF;
border-bottom: black 1px solid;
font-weight: normal;
opacity: 1.0;
}
}