/* Ram */

body{
background: #CCCCCC;
background-repeat: repeat;
background-position: center center;
background-attachment: fixed;
}

#wrapper {
margin: 20px auto;
padding: 0px;
width: 1000px;
background-color: #FFFFFF;
overflow: hidden;
}

.container-fluid {
background-color: #CCCCCC
}

.row {
margin-bottom: 20px;
}

#header {
background: #FFFFFF;
width: 980px;
height: 100px;
margin: 0px 0px 0px 0px;
padding-left: 20px;
padding-bottom: 20px;
padding-top: 10px;
}

/* Sidomenyn */

#side {
float: left;
width: 220px;
margin: 0px 0px 0px 0px;
padding: 5px;
background: #FFFFFF;
border-top-width: 0px;
}

.kursinfo kurskod {
font-family:  Georgia;
font-size: 24px;
text-weight: normal;
color: #000000;
background-color: #FFFFFF;
}

.kursinfo kursnamn {
font-family:  Arial;
font-size: 14px;
color: #000000;
background-color: #FFFFFF;
}

.menu{
margin: 20px 0px 0px 0px;
width: 100%;
overflow: hidden;
}

.menu ul{
padding-left: 0px; /*offset of tabs relative to browser left edge*/
font: 14px Arial;
}
.menu li{
display: inline;


}
.menu li a{
float: left; /*Ändra till right om du vill ha flikarna till höger*/
display: block;
text-decoration: none;
padding: 10px;
padding-bottom: 5px;
padding-left: 0px;
color: Black;
background: #FFFFFF;
border-radius: 20px 20px 0px 0px;
width: 200px;
border-bottom: 1px solid #CCCCCC;
}
.menu li a:hover, .menu li a.active{
background: #FFFFFF;
border-bottom: black 2px solid;
font-weight: normal;
opacity: 1.0;
}

/* Content */

#content {
width: 760px;
background: #none;
float: right;
padding: 0px;
margin-right: 20px;
padding-left: 20px;
border-left: 1px #CCCCCC solid;
}

/* Flikar och blå linje*/

.tabs{
width: 100%;
overflow: hidden;
}
.tabs ul{
margin: 0px 0px 0px 250px;
padding: 0;
padding-left: 0px; /*offset of tabs relative to browser left edge*/
font: 14px Georgia;
}
.tabs li{
width: 100px;
display: inline;
margin: 10px 10px 10px 10px;

}
.tabs li a{
float: left; /*Ändra till right om du vill ha flikarna till höger*/
display: block;
text-decoration: none;
margin: 0px 0px 0px 1px;
padding: 10px 10px;
color: white;
background: #1954a6;
opacity: 0.8;
border-radius: 20px 20px 0px 0px;
width: 180px;
text-align: center;
}

.tabs li a:hover, .tabs li.selected a{
background: #1954a6;
font-weight: normal;
opacity: 1;
}

.line{
width: 100%;
height: 30px;
background-color: #1954a6;
margin: 0px 0px 10px 0px;
}

/* Startsida */

#searchDiv {
background: #FFFFFF;
border-top-style: solid;
border.border-top-width: 2px;
border-color:#CCCCCC;
height: 100%;
width: 80%;
padding: 10px 10px 10px 10px;
}

#textInput1{
  width: 60px;
  box-sizing: border-box;
  border-radius: 3px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}

#textPeriod{
  margin-left: 20px;
}

#selectPeriod{
  margin-right: 20px;
}
#searchButton{
  border-radius: 3px;
}

#searchNewCourse {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #B0C92B;
  border-radius: 10px;
  cursor: pointer;
  width: 40px;
  height: 30px;
  float: right;
}

#textP{
  margin-left: 25px;
}

#textHP1{
  margin-left: 250px;
}

#textHP2{
  margin-left: 107px;
}

#textAreaSchedule{
  width: 80%;
  border: 1px solid #CCCCCC;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  margin-left: 70px;
}

#searchHeader{
  font-family: Georgia;
  font-size: 18px;
  font-weight: bold;
}

#textInput2{
  width: 240px;
  box-sizing: border-box;
  border-radius: 3px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  margin-left: 20px;
}

#textcolorIndex{
  color: black;
}

#myDiv {
background: #FFFFFF;
border-top-style: solid;
border.border-top-width: 2px;
border-color:#CCCCCC;
height: 100%;
width: 80%;
padding: 10px 10px 10px 10px;
margin-bottom: 300px
}

/* Kursinfo */

.rubrik p{
font-family:  Georgia;
font-size: 24px;
color: #000000;
background-color: #FFFFFF;
margin-top: 5px;
}
.underrubrik p{
font-family:  Georgia;
font-size: 18px;
color: #000000;
background-color: #FFFFFF;
margin-top: 5px;
}

.beskrivning{
width: 340px;
padding: 5px;
margin-bottom: 0px;
font-family: Arial;
font-size: 12px;
background: #eec0dc;
}

.ruta{
width: 340px;
padding: 5px;
margin-top: 0px;
border: 1px solid #CCCCCC;
border-top: none;
border-radius: 0px 0px 10px 10px;
}

.ruta p{
font: 12px Arial;
padding-top:5px;
padding-bottom: 5px;
}

.ruta input{
border-radius: 3px;
border-style: solid;
border-color: #CCCCCC;
border-width: 1px;
padding: 3px;
margin-top:2px;
margin-bottom:5px;
}

textarea {
width: 340px;
height: 140px;
padding: 5px;
margin-top: 5px;
border: 1px solid #CCCCCC;
border-top: none;
border-radius: 0px 0px 10px 10px;
}
textarea:focus {
border: 0px;
}

}

/* Schemaplanering */

#container {
  font: arial;
}
.weeks {
  margin-left: auto;
  margin-right: auto;
  width: 740px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 10pt;
}
.weeks .header {
  display: flex;
  font-size: 9pt;
  margin-bottom: 2px;
}
.weeks .header > * {
  border-radius: 2px;
  box-sizing: border-box;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
}
.week {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #D9D9D9;
  border-width: 1px;
  margin-bottom: 15px;
  transition-property: max-height, margin-bottom, border-width;
  transition-duration: 0.5s;
  overflow: hidden;
  max-height: 200px;
}
.week.minimized {
  max-height: 0px;
  margin-bottom: 0px;
  border-width: 0px;
}
.weeks .number {
  width: 70px;
}
.week > .number {
  text-align: center;
  margin-right: 2px;
}
.week > .week-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 5px;
  margin-left: 10px;
}
.week > .week-content > .moment > :not(.actions) {
  margin-right: 10px;
  margin-top: 1px;
}
.weeks .header > :not(.actions) {
  margin-right: 10px;
}
.week > .week-content > .moment {
  display: flex;
  align-items: center;
}
.weeks input[type=number] {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}
.weeks input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}
.weeks .kind-icon {
  width: 10px;
  height: 10px;
}
.moment > .kind-icon {
  border-radius: 20px;
  transition: background-color 1s;
}
.moment > .kind-icon.lecture {
  background-color: green;
}
.moment > .kind-icon.seminar {
  background-color: blue;
}
.moment > .kind-icon.exercise {
  background-color: purple;
}
.moment > .kind-icon.lab {
  background-color: pink;
}
.moment > .kind-icon.exam {
  background-color: black;
}
.weeks .kind {
  width: 78px;
}
.weeks .duration {
  width: 50px;
  text-align: center;
}
.weeks .groups {
  width: 50px;
  text-align: center;
}
.weeks .simultaneous {
  width: 60px;
  text-align: center;
}
.weeks .teachers {
  flex-grow: 1;
  flex-basis: 0px;
}
.weeks .comment {
  flex-grow: 1;
  flex-basis: 0px;
}
.weeks .own-room {
  width: 50px;
  text-align: center;
}
.week-content > .moment > .actions {
  margin-right: 0px;
}
.actions {
  width: 70px;
  text-align: right;
  margin-right: 2px;
}
.actions > .hovered {
  visibility: hidden;
  z-index: 1;
}
.actions img {
  height: 17px;
  margin-left: 2px;
}
.actions img.disabled {
  cursor: auto;
  opacity: 0.4;
}
.actions img:not(.disabled) {
  cursor: pointer;
}
.moment:hover .actions > .hovered {
  visibility: visible;
}

.week-header {
  display: flex;
  background-color: #8DC4ED;
  font-size: 12pt;
  font-family: georgia;
  padding: 5px;
  cursor: grab;
}
.week-header:active {
  cursor: grabbing;
}
.week-header > .actions {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}
.week-header > .actions > button {
  white-space: nowrap;
}

option.default {
  display: none;
}

.end-of-schedule {
  display: flex;
  justify-content: center;
}
.add-new-week {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #B0C92B;
  border-radius: 10px;
  cursor: pointer;
}

.beskrivningSch{
  width: 80%;
  padding: 5px;
  margin-bottom: 0px;
  font-family: Arial;
  font-size: 12px;
  background: #eec0dc;
  margin-left: 70px;
}