.weeks {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.weeks > .header {
  display: flex;
  font-size: 10pt;
  margin-bottom: 2px;
}
.weeks > .header > * {
  background-color: lightgray;
  border-radius: 2px;
  box-sizing: border-box;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
}
.week {
  display: flex;
  border-bottom-style: solid;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.weeks .number {
  width: 40px;
}
.week > .number {
  text-align: center;
  margin-right: 2px;
}
.week > .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.week > .content > .moment {
  margin-bottom: 2px;
}
.week > .content > .moment > * {
  margin-right: 2px;
  margin-top: 1px;
}
.weeks > .header > * {
  margin-right: 2px;
}
.week > .content > .moment {
  display: flex;
}
.weeks input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}
.weeks .kind {
  width: 78px;
}
.weeks .duration {
  width: 50px;
  text-align: center;
}
.weeks .groups {
  width: 50px;
  text-align: center;
}
.weeks .simultaneous {
  width: 60px;
  text-align: left;
}
.weeks .teachers {
  flex-grow: 1;
  flex-basis: 0px;
}
.weeks .comment {
  flex-grow: 1;
  flex-basis: 0px;
}
.weeks .own-room {
  width: 50px;
}
.header .own-room {
  float: right;
  white-space: nowrap;
}
.weeks .actions {
  position: relative;
  left: 0px;
  width: 0px;
  margin: 0px;
}
.actions > .hovered {
  position: absolute;
  left: 0px;
  visibility: hidden;
  z-index: 1;

  background-color: lightgray;
  border-radius: 4px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
}
.actions > .hovered > .button {
  width: 16px;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}
.moment:hover .actions > .hovered {
  visibility: visible;
}

.empty-week {
  display: flex;
  justify-content: center;
}
.empty-week > * {
  margin-right: 10px;
  margin-left: 10px;
}

option.default {
  display: none;
}
